
html,  body{
    font-family: 'Vollkorn', serif;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    color: #666666;
    margin: 0px;
    padding: 0px;
    height: 100%;
}





h1, h2, h3, h4, h5 {
    color: #0000cc;
}
h1{
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 20px;
    font-weight: 100;

}




header {
    background-color: #7CBACF;
    padding: 6px;
    padding-bottom: 24px;
    margin-bottom: 10px;
    height: 100px;
}
header h1{
    color: #ffffff;
    float: left;
}
header nav{
    float: right;
}


footer{
    background-color: #14293D;
    color: #ffffff;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#logotipo 
{
    float: left;
    text-align:left;
    padding-top:5px;
    padding-left:5px;
}
#titulo
{

    width:80%;
    float:left;
    text-shadow: 2px 2px 3px #000;
}
    #titulo > h1 
    {
        margin-left:0px;
        color:white;
        float:left;
        padding-left:20px;
        padding-top:10px;
    }

#subtitulo
{
    width:80%;
    float:left;
    text-shadow: 2px 2px 3px #000;
    padding-left:16px;
    padding-top:4px;
}


    #subtitulo > h2 
    {
        margin-left:0px;
        color:white;
        float:left;
        padding-left:10px;
        padding-bottom:4px;
    }


#subtitulo1
{
    width:20%;
    float:left;
    text-shadow: 2px 2px 3px #000;
    padding-left:5px;
    padding-top:0px;
}


    #subtitulo1 > h2 
    {
        margin-left:0px;
        color:white;
        float:left;
        padding-left:10px;
        padding-bottom:2px;
    }
#main_wrapper {
    min-height: 100%;
    position: relative;
}




aside {
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6db3f2 , #54a3ee , #3690f0 , #1e69de ); /* FF3.6+ */
    background: -webkit-gradient(45deg, #6db3f2 , #54a3ee , #3690f0 , #1e69de );
    background: linear-gradient(45deg, #6db3f2 , #54a3ee , #3690f0 , #1e69de );
    width: 15%;
    /*height: 450px;*/
    float: left;
    position: relative;
    overflow-y: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    padding-left:10px;
}

aside nav{
    
}



section {
   padding: 10px;
}

#content {
    width: 75%;
    display: inline-block;
    margin-left: 2%;
}



nav ul li {
    list-style: none;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

#main_container {
    padding-bottom: 10px;
}

.vertical {
    padding-top: 10px ;
    padding-bottom: 10px ;
    /*line-height: 38px;*/
    
}

.vertical a:hover{
    color: #08298A;
    background: #FFFFFF;
    /* border-radius:0px 10px 0px 10px;*/
}

.vertical a{
    text-decoration: none;
    color: white;
    font-weight:100;
    letter-spacing: 1px;
    width:100%;
   
}

    .vertical li {
        
        color: white;
        font-size:large;

    }

.lnkBarraV {
    margin: 2px;
    background: none repeat scroll 0 0 #F3F3F3;
    -webkit-background: none repeat scroll 0 0 #F3F3F3;
    display:block;
    -webkit-display:block;
    float: left;
    font-size:70%;
    font-weight:lighter;
    height: 30px;
    padding: 3px 3px;
    width: 90%;
    text-align:center;
    border-radius:0px 10px 0px 10px;
   
    -webkit-border-radius:0px 10px 0px 10px;
    -moz-border-radius:0px 10px 0px 10px;
}




.horizontal{
    padding-top:0px;
}
.horizontal li{
    list-style: none;
    display: inline-block;
    margin-right: 0px;
    margin: 0px;
}
.horizontal a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 2px 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de));
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    font-size:medium;
    
}
.horizontal a:hover{
    color: #D6E0F5;
    background: #1F3D7A;
}

p {
    font-family: sans-serif;
    font-size: 13px;
}

section {

    margin:0;
    padding:0;
}

.vertical .gradientSub {
    text-decoration: none;
    color: #F3F3F3;
    
    padding: 2px 10px;
    background: -webkit-linear-gradient(60deg, #325096 70%, #FFFFFF 60%, #F95605 60%, #FFFFFF 30%, #F39223 30% );
    background: -moz-linear-gradient(60deg, #325096 70%, #FFFFFF 60%, #F95605 60%, #FFFFFF 30%, #F39223 30%);
    background: linear-gradient(60deg, #325096 70%, #FFFFFF 60%, #F95605 60%, #FFFFFF 30%, #F39223 30%);

     margin: 6px;

    display:block;
    -webkit-display:block;
    float: left;
    font-size:medium;
    font-weight:bold;
    height: 30px;
    padding: 3px 3px;
    width: 90%;
    text-align:left;
    
    border-radius:0px 0px 0px 0px;
    -webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;

     -webkit-box-shadow: 4px 4px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(255, 255, 255, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(255, 255, 255, 0.75);
}

.pnNoticias1 {
    border : outset;
    border-color:aliceblue;
    background: none repeat scroll 0 0 #F3F3F3;
    display:inline-block;
    float: left;
    font-size:small;
    font-weight: bold;
    color: #F3F3F3;
    margin: 10px 10px 0 0;
    padding: 3px 7px;
    width:37%;
    height:auto;
    text-align:left;
}

.pnNoticias2 {
    border : outset;
    border-color:aliceblue;
    background: none repeat scroll 0 0 #F3F3F3;
    display:inline-block;
    float: left;
    font-size:small;
    font-weight: bold;
    color: #F3F3F3;
    margin: 10px 10px 0 0;
    padding: 3px 7px;
    width:57%;
    height:auto;
    text-align:left;
}